.border-grad {
    box-sizing: border-box;
    position: relative;
    background-color: black; 
    border: none;
    height: 450px;
    background-clip: padding-box; 
    
  
    &:before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        z-index: -1; 
        border-radius: inherit; 
        background: linear-gradient(180deg, #707070 0%, #141414 115.5%);
        padding: 2px; 
    }
}


.border-grad2 {
    box-sizing: border-box;
    position: relative;
    background-color: black; 
    border: none;
    height: 450px;
    background-clip: padding-box; 

  
    &:before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        z-index: -1; 
        border-radius: inherit; 
        background: linear-gradient(180deg, #707070 0%, #141414 115.5%);
        padding: 2px; 
    }
}

.border-grad3 {
    box-sizing: border-box;
    position: relative;
    background-color: black; 
    border: none;
    height: 450px;
    background-clip: padding-box; 

  
    &:before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        z-index: -1; 
        border-radius: inherit; 
        background: linear-gradient(180deg, #707070 0%, #141414 115.5%);
        padding: 2px; 
    }
}

.dark .client-animation {
    background-color: black;
    transition: 0.5s;
    p {
        color: white
    }

    img {
        background-color: white;
    }
}

.dark .client-animation:hover {
    background-color: white;

    p {
        color: black
    }

    img {
        background-color: black;
    }
}

.client-animation {
    transition: 0.5s;
    background-color: #F5F5F5;
    p {
        color: #2E2E2E
    }

    img {
        background-color: rgb(255, 255, 255);
    }
}

 .client-animation:hover {
    background-color: black;

    transition: 0.5s;
    p {
        color: white
    }

    img {
        background-color: rgb(255, 255, 255);
    }
}

.custom-nav {
    position: absolute;
    top: 73% !important;
    transform: translateY(-60%);
    background-color: transparent; /* Adjust as needed */
    border: none;
    cursor: pointer;
    z-index: 10;
}

.swiper-container {
    overflow: hidden;
}

.swiper-button-prev {
    left: 70px !important;  /* Push the previous button outside the Swiper container */
}

.swiper-button-next {
    right: 40px !important;  /* Push the next button outside the Swiper container */
}

.custom-nav img {
    width: auto; /* Adjust size as needed */
    height: auto;
}


.swiper-button-next, .swiper-button-prev {
   color: rgba(0, 0, 0, 0) !important;
   width: 150px !important; /* Adjust size as needed */
   height: 150px !important;
}


.client-card {
    margin-top: 25px;
    width: 20vw;
    height: 400px;
}

@media (max-width: 810px) {
    .client-card {
        margin-top: 25px;
        width: 65vw;
        height: 300px;
        border-radius: 12px;
    }
    .custom-nav {
        top: 90% !important
    }
    .swiper-button-prev {
        left: 20px !important;  /* Push the previous button outside the Swiper container */
    }
    
    .swiper-button-next {
        right: 0px !important;  /* Push the next button outside the Swiper container */
    }
    
}