.team-card {
  width: 300px; /* Adjust card width */
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    transition: 0.5s;
  }
}

@media (max-width: 640px) {
  .team-card {
    width: 300px; /* Adjust card width */
    height: 400px;
   
  }
}

.team-card:hover {
  img {
    transform: scale(110%);
  }
}


.team-wrapper, .middle-wrapper{
  -webkit-transition-timing-function:linear!important;    transition-timing-function:linear!important; 
  position: relative;
}

.text-content {
  position: absolute;
  bottom: 4%;
  left: 5%;
  width: 90%;
  height: 24%; /* Bottom quarter of the card */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
