.team-container{
  width: 50vw;
  overflow-x: hidden;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
    transition: 0.5s;
  }
}

@media (max-width: 640px) {
  .text-content {
    font-size: 0.8rem !important;
  }
  .team-container{
    width: 98vw;
    overflow-x: hidden;
  }
  .team-card {
    max-width: fit-content;
  }
}
 
@media (min-width: 640px) and  (max-width: 1024px) {
  .text-content {
    font-size: 0.8rem !important;
  }
  .team-container{
    width: 95vw;
    overflow-x: hidden;
  }

  .team-card {
    max-width: fit-content;
  }
}

@media (min-width: 1024px) {
    .our-team {
      flex-direction: row;
    }
    .team-container{
      width: 95vw;
      overflow-x: hidden;
    }

    .team-card {
      width: 22.5vw !important;
      
  img {
    transition: 0.5s;
    width: 22.5vw ;
  }
    }
   
}

.team-card:hover {
  img {
    transform: scale(110%);
  }
}


.team-wrapper, .middle-wrapper{
  -webkit-transition-timing-function:linear!important;    transition-timing-function:linear!important; 
  position: relative;
}

.text-content {
  position: absolute;
  bottom: 4%;
  left: 10%;
  width: 80%;
  height: 24%; 
  padding: 1rem;
  display: flex;
  font-size: 1rem ;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
